# THÔNG TIN KẾT NỐI DATABASE
DATABASE_URL="postgresql://postgres:[lien_he_nhi_de_lay_mk]@db.fexqczisppdmctjgjjrn.supabase.co:5432/postgres"
SUPABASE_URL=...
SUPABASE_KEY=...

# BẢO MẬT
JWT_SECRET=pot_workspot_secret_key_2026

# Mail (Gmail SMTP - dùng App Password)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=lien_he_tanh_de_lay_thong_tin_tk_mk
MAIL_PASS=nhập_mật_khẩu_của_bạn_vào_đây