@import url('https://fonts.googleapis.com/css2?family=Acme&family=Aleo:ital,wght@0,300..900;1,300..900&family=Alfa+Slab+One&display=swap');
@import "tailwindcss";

:root {
  --background: #fafaf5;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

/* Hide scrollbar for carousel tracks */
.carousel-scroll::-webkit-scrollbar {
  display: none;
}
